.table1 {
    margin: 30px;
    float: left;
}

.picture1 {
    border: solid;
    border-color: blue;
    border-width: 5px;
    width: 30%;
}

.picture2 {
    float: right;
    border: solid;
    border-color: blue;
    border-width: 5px;
    width: 30%;
    margin: 10px;
}

.one-a {
    text-align:center;
    margin:10px;
}

